<div style="margin-bottom:15px"><div style="width:100%; text-align: center; margin:5px;">Aktuell {{persons.length}} Personen und {{shifts.length}} Schichten an {{stations.length}} Stationen.</div>
<div style="width:100%; display: flex; justify-content: space-around;">
  <div>
    <mat-form-field>
      <input matInput [matDatepicker]="datepickerFrom" [(ngModel)]="from">
      <label>Von</label>
      <mat-datepicker-toggle matIconSuffix [for]="datepickerFrom"></mat-datepicker-toggle>
      <mat-datepicker #datepickerFrom></mat-datepicker>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input matInput [matDatepicker]="datepickerTo" [(ngModel)]="to">
      <label>Bis</label>
      <mat-datepicker-toggle matIconSuffix [for]="datepickerTo"></mat-datepicker-toggle>
      <mat-datepicker #datepickerTo></mat-datepicker>
    </mat-form-field>
  </div>
</div>
<div style="width:100%; text-align: center; margin:5px;">Es werden, bei öffnen des letzten Tabs, die verfügbaren Personen auf die Schichten aufgeteilt. Dabei werden für jede Schicht zuerst die verfügbaren Personen gefiltert und nach der länge der Anwesenheit sortiert (sodass Personen mit kürzerer Anwesenheit zuerst gewählt werden).</div>  
<mat-tab-group (selectedTabChange)="onTabChange($event)">
  <mat-tab label="Personen">
    <button mat-icon-button (click)="addPerson()"><mat-icon>add</mat-icon></button>
    <table mat-table #personsTable [dataSource]="persons">

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> 
          <mat-form-field>
            <input matInput [(ngModel)]="element.name">
          </mat-form-field>
        </td>
      </ng-container>
    
      <ng-container matColumnDef="from">
        <th mat-header-cell *matHeaderCellDef> Von </th>
        <td mat-cell *matCellDef="let element"> 
          <mat-form-field>
            <input matInput [matDatepicker]="datepicker" [(ngModel)]="element.from">
            <mat-datepicker-toggle matIconSuffix [for]="datepicker"></mat-datepicker-toggle>
            <mat-datepicker #datepicker></mat-datepicker>
          </mat-form-field>
          <mat-form-field>
            <input matInput [matTimepicker]="timepicker" [(ngModel)]="element.from">
            <mat-timepicker-toggle matIconSuffix [for]="timepicker"></mat-timepicker-toggle>
            <mat-timepicker #timepicker></mat-timepicker>
          </mat-form-field>
        </td>
      </ng-container>
    
      <ng-container matColumnDef="to">
        <th mat-header-cell *matHeaderCellDef> Bis </th>
        <td mat-cell *matCellDef="let element">
          <mat-form-field>
            <input matInput [matDatepicker]="datepicker" [(ngModel)]="element.to">
            <mat-datepicker-toggle matIconSuffix [for]="datepicker"></mat-datepicker-toggle>
            <mat-datepicker #datepicker></mat-datepicker>
          </mat-form-field>
          <mat-form-field>
            <input matInput [matTimepicker]="timepicker" [(ngModel)]="element.to">
            <mat-timepicker-toggle matIconSuffix [for]="timepicker"></mat-timepicker-toggle>
            <mat-timepicker #timepicker></mat-timepicker>
          </mat-form-field>
        </td>
      </ng-container>
    
      <ng-container matColumnDef="hours">
        <th mat-header-cell *matHeaderCellDef> Anwesenheit </th>
        <td mat-cell *matCellDef="let element">
          Von {{element.from | date:'dd.MM.yyyy HH:mm'}}<br> 
          Bis {{element.to | date:'dd.MM.yyyy HH:mm'}} <br>
          ({{element.hours}} Stunden) 
        </td>
      </ng-container>
    
      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let element"> <button mat-icon-button (click)="removePerson(element)"><mat-icon>delete</mat-icon></button> </td>
      </ng-container>
    
    
      <tr mat-header-row *matHeaderRowDef="displayedPersonColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedPersonColumns;" [ngClass]="{'red': row.hours < 60}"></tr>
    </table>  
  </mat-tab>
  <mat-tab label="Schichten">
    <mat-form-field>
      <input matInput [matTimepicker]="timepicker" [(ngModel)]="shiftStart" (ngModelChange)="calcShifts()">
      <label>Schichtstart</label>
      <mat-timepicker-toggle matIconSuffix [for]="timepicker"></mat-timepicker-toggle>
      <mat-timepicker #timepicker></mat-timepicker>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="number" [(ngModel)]="shiftLength" (ngModelChange)="calcShifts()">
      <label>Schichtlänge</label>
    </mat-form-field>
    <br>
    <div *ngFor="let shift of shifts">
      {{shift.name}} Von {{shift.from | date:'HH:mm'}} Bis {{shift.to | date:'HH:mm'}}
    </div>
    <div *ngIf="shifts.length == 0">
        Keine Schichtberechnung möglich.
    </div>
  </mat-tab>
  <mat-tab label="Stationen">
    <button mat-icon-button (click)="addStation()"><mat-icon>add</mat-icon></button>
    <table mat-table [dataSource]="stations" #stationsTable >

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element; let i = index;"> 
          <mat-form-field>
            <input matInput [(ngModel)]="stations[i]">
          </mat-form-field>
        </td>
      </ng-container>
    
      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let element"> <button mat-icon-button (click)="removeStation(element)"><mat-icon>delete</mat-icon></button> </td>
      </ng-container>
    
    
      <tr mat-header-row *matHeaderRowDef="displayedStationsColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedStationsColumns;"></tr>
    </table>
  </mat-tab>
  <mat-tab label="Schichtplan" >
    <mat-spinner *ngIf="shiftCalculating"></mat-spinner>
    <div *ngIf="!shiftCalculating">
      <div *ngIf="shiftPlans.length == 0">
        Keine Schichtberechnung möglich.
      </div>
      <div *ngIf="shiftPlans.length > 0" style="width:100%; font-weight: bold;text-align: center; margin:5px">Übersicht pro Station</div>
      <div *ngFor="let plan of shiftPlans" style="margin-bottom:10px;">
        <div style ="padding:5px; font-weight:bold">{{plan.stationName}}</div>
        <div style="display: flex;" >
          <ng-container *ngFor="let entry of plan.shiftEntries; last as isLast" >
            <div style="text-align: center;text-wrap:nowrap;margin-left:5px; padding:3px; border-radius:5px; background-color: #efefef;">
              {{entry.shift.name}}<br>
              Von {{entry.from | date:'dd.MM HH:mm'}} <br>
              Bis {{entry.to | date:'dd.MM HH:mm'}} <br>
              {{entry.person1.name}} <br>
              {{entry.person2.name}}
            </div>
            <div *ngIf="!isLast" style="align-content: center; margin-left:5px;">
              =>
            </div>
          </ng-container>
        </div>
      </div>
      <ng-container *ngIf="shiftPlans.length > 0">   
        <div style="width:100%; font-weight: bold;text-align: center;margin-bottom: 5px;">Übersicht pro Person</div>     
      <div *ngFor="let person of persons" style="margin-bottom:10px;">
        <div style="display: flex;" >
          <div style="align-content: center; text-align: center;text-wrap:nowrap;margin-left:5px; padding:3px; border-radius:5px; background-color: darkgray;">
            {{person.name}}<br>
            Von {{person.from | date:'dd.MM HH:mm'}}<br>
            Bis {{person.to | date:'dd.MM HH:mm'}}<br>
            ({{person.hours}} Stunden)
          </div>
          <ng-container *ngFor="let entry of person.shiftEntries; index as i; last as isLast">
            <div style="text-align: center;text-wrap:nowrap;margin-left:5px;align-content: center; padding:3px; border-radius:5px; background-color: #efefef;">
              {{entry.shift.name}}<br>
              Von {{entry.from | date:'dd.MM HH:mm'}} <br>
              Bis {{entry.to | date:'dd.MM HH:mm'}} <br>
            </div>
            <div *ngIf="!isLast" style="align-content: center; margin-left:5px;"> => {{getDiffToNextShift(person,i)}} Stunden =></div>
          </ng-container>
        </div>
      </div>
      </ng-container>
    </div>
  </mat-tab>
</mat-tab-group>
</div>